In [22]:
import pandas as pd
import category_encoders as ce

Создадим обучающий набор для кодирования порядковых признаков — ассортимент небольшого магазина с одеждой, 
где size — буквенное обозначение размера одежды, type — тип изделия.

In [23]:
# инициализируем информацию об одежде
clothing_list = [
    ['xxs', 'dress'],
    ['xxs', 'skirt'],
    ['xs', 'dress'],
    ['s', 'skirt'],
    ['m', 'dress'],
    ['l', 'shirt'],
    ['s', 'coat'],
    ['m', 'coat'],
    ['xxl', 'shirt'],
    ['l', 'dress']
]

clothing = pd.DataFrame(clothing_list, columns = ['size',  'type'])
clothing

  size   type
0  xxs  dress
1  xxs  skirt
2   xs  dress
3    s  skirt
4    m  dress
5    l  shirt
6    s   coat
7    m   coat
8  xxl  shirt
9    l  dress

In [27]:
# Нужен маплист для правильного, вручную, определения очередности элементов категории
maplist = [{
    'col': 'size', 
    'mapping': {
        'xxs': 0, 
        'xs': 1,
        's': 2, 
        'm': 3, 
        'l': 4, 
        'xxl': 5
        }
    }]

oe = ce.OrdinalEncoder(mapping=maplist)
new_clot = oe.fit_transform(clothing, return_df=True)

In [28]:
new_clot

   size   type
0     0  dress
1     0  skirt
2     1  dress
3     2  skirt
4     3  dress
5     4  shirt
6     2   coat
7     3   coat
8     5  shirt
9     4  dress

In [30]:
import category_encoders as ce # импорт для работы с кодировщиком
bin_encoder = ce.BinaryEncoder(cols=['type']) # указываем столбец для кодирования
type_bin = bin_encoder.fit_transform(clothing['type'])
clothing = pd.concat([clothing, type_bin], axis=1)

clothing

  size   type  type_0  type_1  type_2
0  xxs  dress       0       0       1
1  xxs  skirt       0       1       0
2   xs  dress       0       0       1
3    s  skirt       0       1       0
4    m  dress       0       0       1
5    l  shirt       0       1       1
6    s   coat       1       0       0
7    m   coat       1       0       0
8  xxl  shirt       0       1       1
9    l  dress       0       0       1

Используйте следующий датафрейм для задания.

Определите типы признаков и закодируйте их в соответствии с изученными способами

In [31]:
list_of_dicts = [
 {'product': 'Product1', 'price': 1200, 'payment_type': 'Mastercard'},
 {'product': 'Product2', 'price': 3600, 'payment_type': 'Visa'},
 {'product': 'Product3', 'price': 7500, 'payment_type': 'Amex'}
]
df = pd.DataFrame(list_of_dicts)

In [32]:
df

    product  price payment_type
0  Product1   1200   Mastercard
1  Product2   3600         Visa
2  Product3   7500         Amex

In [33]:
# и procduct и payment_type это категориальные номинальные признаки.
# но если судить по цене, то product похож на порядковый признак. Product3 к пример сильно дороже Product1.

In [34]:
import category_encoders as ce

In [35]:
oe = ce.OrdinalEncoder(cols=['product'])
product_bin = oe.fit_transform(df['product'])
df = pd.concat([df, product_bin], axis=1)
df

    product  price payment_type  product
0  Product1   1200   Mastercard        1
1  Product2   3600         Visa        2
2  Product3   7500         Amex        3

In [36]:
ohe = ce.OneHotEncoder(cols=['payment_type'])
payment_bin = ohe.fit_transform(df['payment_type'])
df = pd.concat([df, payment_bin], axis=1)
df

,product,price,payment_type,product,payment_type_1,payment_type_2,payment_type_3
0,Product1,1200,Mastercard,1,1,0,0
1,Product2,3600,Visa,2,0,1,0
2,Product3,7500,Amex,3,0,0,1

In [37]:
import category_encoders as ce
oe = ce.OrdinalEncoder(cols=['product'])
product_bin = oe.fit_transform(df['product'])
df = pd.concat([df, product_bin], axis=1)
ohe = ce.OneHotEncoder(cols=['payment_type'])
payment_bin = ohe.fit_transform(df['payment_type'])
df = pd.concat([df, payment_bin], axis=1)

AttributeError: 'DataFrame' object has no attribute 'unique'